body{
	background: #6c757d;
}
h1{
	text-align: center;
	font-style: bold;
	color: maroon;
	margin: 40px;
}
input{
	width: 100%;
	height: 100%;
	text-align: left;
}
.input{
	width: 100%;
	height: 100%;
	text-align: left;
}

#projs{
	width: 300px;
	height: 50px;
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 30px;
}
#lists{
	width: 300px;
	height: 50px;
	margin-right: 20px;
}
#date,#priority{
	width: 100px;
	height: 40px;
}

#nm > tr > td{
	padding: 0;
}

#nm > tr > td > div{
	margin: 0; 
}

.project_name{
	width: 90%;
}

.project_button {
	width: 10%;
}

.table{
	width: 80%;
}